{% extends "base.html" %}
{% block title %}
    backups
{% endblock %}

{% block head %}

{% endblock %}

{% block context %}

    <form align="center" method="POST" enctype="multipart/form-data">
        web server:
        <select name="webserver">
            <option value="apache">apache</option>
            <option value="nginx">nginx</option>
            <option value="tomcat">tomcat</option>
            <option value="mysql">mysql</option>
        </select>
        <br>
        project name:<input type="text" name="project_name"><p style="color:red;">{{ Error }}</p>
        host :<input type="text" name="host"><br>
        user :<input type="text" name="user"><br>
        password:<input type="password" name="password"><br>
        key file:<input type="file" name="file"><br>
        file name:<input type="text" name="localname"><br>
        remote dir:<input type="text" name="remotedir"><br>
        <input type="submit" value="submit">
    </form>


    <p align="center">
        <a href="{{ url_for('project') }}">
            <img src="{{  url_for('static',filename='images/mingren.jpg')}}" width="1600" height="900" alt=u"鸣人">
        </a>>
    </p>

{% endblock %}