{% extends 'base.html' %}

{% block title %}
    project
{% endblock %}

{% block head %}
{#    <script>#}
{#        function judge(){#}
{#            alert({{ show_context }});#}
{#        }#}
{#    </script>#}

{% endblock %}

{% block context %}
    <h3 align="center">WEB BACKUPS LIST</h3>
    <form method="post">
        <div align="center">
            <table>
                <tr>
                    <td>
                        Project name:<input type="text" name="project" autocomplete="off"><p style="color:red;">{{ Error }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        delete : <input type="radio" name="operation" value="delete">
                    </td>
                </tr>
                <tr>
                    <td>
                        backup : <input type="radio" name="operation" value="backup" checked="checked">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" value="submit">
                    </td>
                </tr>
            </table>
        </div>
    </form>
        <div>
            <table cellspacing="10">
                <tr>
                    <th>Project name</th>
                </tr>
                {% for name in projectname %}
                    <tr align="center">
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <p align="center">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static',filename='images/gou.jpg') }}" alt="index" width="1600" height="950">
        </a>
    </p>
    
    
{% endblock %}
